.container {
  display: flex;
  grid-gap: 0.3rem;
  cursor: pointer;
  color: #fff;
  @media (max-width: 350px) {
    p {
      display: none;
    }
  }

  @media (max-width: 400px) {
    p {
      font-size: 12px;
    }
  }

  .navItemLogo {
    width: 2rem;
    color: #a55233;
  }
  transition: 0.5s;

  &:hover {
    color: yellow;
  }
}
